<div class="body h-100">
  <div class="text-center div-center">

    <p><%= render 'devise/registrations/new/switch_to' %></p>
    <h2>Account registration</h2>

    <p class="text-muted">
      Welcome. Please enter your new account's information below
      and submit to complete the account registration process.
    </p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= f.label :full_name, class: 'sr-only' %>
          <%= f.text_field :full_name, class: 'form-control', placeholder: 'Your name' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <%= f.label :email, class: 'sr-only' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email address' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
        <%= f.label :sin, class: 'sr-only' %>
          <%= f.password_field :sin, class: 'form-control', placeholder: 'Your insecure SIN' %>
        </div>
      </div>

      <h5>Your password</h5>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :password, class: 'sr-only' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Your new password' %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :password_confirmation, class: 'sr-only' %>
          <em>Please confirm your password</em>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Verify your password' %>
        </div>
      </div>

      <h5>Your address</h5>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= f.label :street_number, class: 'sr-only' %>
          <%= f.number_field :street_number, class: 'form-control', placeholder: 'Street number' %>
        </div>
        <div class="form-group col-md-8">
          <%= f.label :street_name, class: 'sr-only' %>
          <%= f.text_field :street_name, class: 'form-control', placeholder: 'Street name' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <%= f.label :city, class: 'sr-only' %>
          <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :province_state, class: 'sr-only' %>
          <%= f.text_field :province_state, class: 'form-control', placeholder: 'Province' %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :postal_code, class: 'sr-only' %>
          <%= f.text_field :postal_code, class: 'form-control', placeholder: 'Postal Code' %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :country, class: 'sr-only' %>
          <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
        </div>
      </div>

    <!--
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
    -->

      <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= render "devise/shared/links" %>

    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
      input[type=number] {
          -moz-appearance:textfield; /* Firefox */
      }
    </style>

  </div>
</div>
