
<div class="container" style="padding: 40px;">
  <div class="hf-section">
    <h3>Edit hotel information</h3>
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        <div class="d-flex justify-content-between w-100">
          <span>Hotel ID: <strong class="text-muted"><code><%= @hotel.id %></code></strong></span>
          <span>Created on: <strong class="text-muted"><%= @hotel.created_at.strftime("%Y %B %d at %H:%m:%S") %></strong></span>
      </div>
    </div>
  </div>
  </div>

  <%= form_for(@hotel, as: :hotel, url: employees_hotel_path(@hotel), html: { method: :patch }) do |f| %>
      <div class="row">
        <div class="col-8">

          <p><strong>Manager information</strong></p>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="sr-only" for="hotel">Manager</label>
              <%= f.select 'manager_sin', Employee.list_managers, {include_blank: "- Select a manager -"}, {class: 'custom-select'} %>
            </div>
          </div>

          <p><strong>Hotel address</strong></p>

          <div class="form-row">
            <div class="form-group col-md-4">
              <%= f.label :street_number, class: 'sr-only' %>
              <%= f.number_field :street_number, class: 'form-control', placeholder: 'Street number' %>
            </div>
            <div class="form-group col-md-8">
              <%= f.label :street_name, class: 'sr-only' %>
              <%= f.text_field :street_name, class: 'form-control', placeholder: 'Street name' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <%= f.label :city, class: 'sr-only' %>
              <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :province_state, class: 'sr-only' %>
              <%= f.text_field :province_state, class: 'form-control', placeholder: 'Province' %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :postal_code, class: 'sr-only' %>
              <%= f.text_field :postal_code, class: 'form-control', placeholder: 'Postal Code' %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :country, class: 'sr-only' %>
              <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
            </div>
          </div>

          <div class="row" style="padding-top: 30px;">
            <div class="col-md-4">
              <%= link_to('Back to hotel chain', employees_hotel_chain_path(@hotel.hotel_chain), class: 'btn btn-block btn-secondary btn-sm') %>
            </div>
            <div class="col-md-8">
              <%= f.submit 'Update hotel information', class: 'btn btn-block btn-sm btn-info' %>
            </div>
          </div>
      </div>

      <div class="col-4 d-inline-block">
        <strong>Profile picture</strong>
        <div class="edit-thumb thumbnail">
          <p class="text-muted">Current profile picture</p>
          <%= image_tag(@hotel.image_url, alt: @hotel.name) %>
          <%# avatar_tag(size: 200) %>
          <%# f.file_field :avatar %>
        </div>
      </div>
    </div>
  <% end %>
</div>
