<div class="card">
  <%= image_tag room.hotel.image_url, width: '100%', height: '225px' %>

  <div class="card-body bg-light">
    <p class="card-title">
      <strong class="text-muted"><%= room.hotel.name %></strong>
    </p>
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 15px;">
      <span><i class="material-icons">people</i> <%= room.capacity %></span>
      <span><i class="material-icons">stars</i> <%= room.hotel.category %> stars</span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <%= link_to 'Details', room_path(room), class: 'btn btn-sm btn-outline-secondary' %>
      </div>
      <small class="text-muted"><%= number_to_currency(room.price) %></small>
    </div>
  </div>

</div>
