
<div class="container" style="padding: 40px;">
  <div class="hf-section">
    <h3>Edit employee account information</h3>
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        <div class="d-flex justify-content-between w-100">
          <span>Employee SIN: <strong class="text-muted"><code><%= @employee.sin %></code></strong></span>
          <span>Created on: <strong class="text-muted"><%= @employee.created_at.strftime("%Y %B %d at %H:%m:%S") %></strong></span>
      </div>
    </div>
  </div>

  <%= form_for(@employee, as: :employee, url: employees_employee_path(@employee), html: { method: :patch }) do |f| %>
      <div class="row">
        <div class="col-8">
          <p><strong>Basic settings</strong></p>
          <div class="form-group">
            <%= f.label :full_name, 'Employee full name' %>
            <%= f.text_field :full_name, class: 'form-control', placeholder: 'How should we call this employee?', autocomplete: 'off' %>
            <small class="form-text text-muted">This should be the employee's legal full name</small>
          </div>

          <div class="form-group">
            <%= f.label :email, 'Employee email' %>
            <%= f.text_field :email, class: 'form-control', placeholder: 'Employee email address', autocomplete: 'off' %>
          </div>

          <div class="form-group">
            <%= f.label :role, 'Role' %>
            <%= f.text_field :role, class: 'form-control', placeholder: 'Which role does the employee?', autocomplete: 'off' %>
          </div>

          <p><strong>Hotel information</strong></p>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="sr-only" for="hotel">Hotel</label>
              <%= f.select 'hotel_id', Hotel.list_hotels, {include_blank: "- Select a hotel -"}, {class: 'custom-select'} %>
            </div>
          </div>

          <p><strong>Employee's manager</strong></p>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="sr-only" for="hotel">Manager</label>
              <%= f.select 'manager_sin', Employee.list_managers, {include_blank: "- Select a manager -"}, {class: 'custom-select'} %>
            </div>
          </div>

          <p><strong>Your address</strong></p>

          <div class="form-row">
            <div class="form-group col-md-4">
              <%= f.label :street_number, class: 'sr-only' %>
              <%= f.number_field :street_number, class: 'form-control', placeholder: 'Street number' %>
            </div>
            <div class="form-group col-md-8">
              <%= f.label :street_name, class: 'sr-only' %>
              <%= f.text_field :street_name, class: 'form-control', placeholder: 'Street name' %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <%= f.label :city, class: 'sr-only' %>
              <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :province_state, class: 'sr-only' %>
              <%= f.text_field :province_state, class: 'form-control', placeholder: 'Province' %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :postal_code, class: 'sr-only' %>
              <%= f.text_field :postal_code, class: 'form-control', placeholder: 'Postal Code' %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :country, class: 'sr-only' %>
              <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
            </div>
          </div>

          <div class="row" style="padding-top: 30px;">
            <div class="col-md-4">
              <% if params[:from] == 'hotel' %>
                <% text = 'Back to hotel chain' %>
                <% link = employees_hotel_chain_path(@employee.hotel.hotel_chain) %>
              <% else %>
                <% text = 'Back to employees list' %>
                <% link = employees_employees_path %>
              <% end %>
              <%= link_to(text, link, class: 'btn btn-block btn-secondary btn-sm') %>
            </div>
            <div class="col-md-8">
              <%= f.submit 'Update employee information', class: 'btn btn-block btn-sm btn-info' %>
            </div>
          </div>
      </div>

      <div class="col-4 d-inline-block">
        <strong>Profile picture</strong>
        <div class="edit-thumb thumbnail">
          <p class="text-muted">Your current profile picture</p>
          <%= image_tag(@employee.avatar_url, alt: @employee.full_name) %>
          <%# avatar_tag(size: 200) %>
          <%# f.file_field :avatar %>
        </div>
      </div>
    </div>
  <% end %>
</div>
