<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Search for hotels </h1>
      <p class="lead text-muted">What type of room would you like?</p>
      <%= form_tag '/search', method: 'get' do %>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="text" name="search[area]" placeholder="Where would you like to go?" class="form-control">
          </div>
        </div>
        <div class="form-row text-left">
          <div class="form-group col">
            <input id="capacity" type="" name="search[capacity]" placeholder="Capacity" class="form-control">
          </div>
          <div class="form-group col">
            <%= select_tag 'hotel-chain', options_for_select(HotelChain.available_chains), include_blank: "- Select a chain -", class: 'custom-select', name: 'search[hotel_chain]' %>
          </div>
          <div class="form-group col">
            <%= select_tag 'category', options_for_select(Utils.possible_categories), include_blank: "- Select a category -", class: 'custom-select', name: 'search[category]' %>
          </div>
          <div class="form-group col">
            <%= select_tag 'size-range', options_for_select(Utils.possible_room_sizes), include_blank: "- Hotel size -", class: 'custom-select', name: 'search[size]' %>
          </div>
          <div class="form-group col">
            <%= select_tag 'price-range', options_for_select(Utils.possible_price_ranges), include_blank: "- Price range -", class: 'custom-select', name: 'search[price]' %>
          </div>
        </div>
        <p>
          <button type="submit" class="btn btn-primary my-2">Search</button>
        </p>
      <% end %>

    </div>
  </section>

</main>
